BEGIN:VCALENDAR
PRODID:-//Aliasource Groupe LINAGORA//OBM Calendar 3.2.1-rc2//FR
CALSCALE:GREGORIAN
X-OBM-TIME:1483703436
VERSION:2.0
METHOD:{{method}}
BEGIN:VEVENT
CREATED:20170106T115035Z
LAST-MODIFIED:{{lastModified}}
DTSTAMP:{{dtStamp}}
DTSTART:{{dtStart}}
DTEND:{{dtEnd}}
DURATION:PT1H30M
TZID:Asia/Ho_Chi_Minh
TRANSP:OPAQUE
SEQUENCE:{{sequence}}
SUMMARY:Sprint planning #23
DESCRIPTION: description 123
CLASS:PUBLIC
PRIORITY:5
ORGANIZER;X-OBM-ID=128;CN={{sender.name}}:MAILTO:{{sender.email}}
X-OPENPAAS-VIDEOCONFERENCE:https://jitsi.linagora.com/abcd
LOCATION:{{location}}
RECURRENCE-ID:{{recurrenceId}}
CATEGORIES:
UID:{{calendarUid}}
ATTENDEE;CUTYPE=INDIVIDUAL;ROLE=ADMIN;RSVP=TRUE;CN=Matthieu EXT_BAECHLER;PARTSTAT=NEE
 DS-ACTION;X-OBM-ID=302:MAILTO:another@domain.tld
ATTENDEE;CUTYPE=INDIVIDUAL;RSVP=TRUE;CN={{receiver.name}};PARTSTAT=NEEDS-ACTION;
 X-OBM-ID=723:MAILTO:{{receiver.email}}
STATUS:CONFIRMED
END:VEVENT
END:VCALENDAR
