BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//pretix//pretix.eu//
BEGIN:VTIMEZONE
TZID:Europe/Paris
BEGIN:STANDARD
DTSTART:20001029T040000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=10
TZNAME:CET
TZOFFSETFROM:+0200
TZOFFSETTO:+0100
END:STANDARD
BEGIN:DAYLIGHT
DTSTART:20000326T030000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=3
TZNAME:CEST
TZOFFSETFROM:+0100
TZOFFSETTO:+0200
END:DAYLIGHT
END:VTIMEZONE
BEGIN:VEVENT
UID:pretix-ow2-ow2con-2024-0@pretix.ow2.org
DTSTART;TZID=Europe/Paris:20240611T090000
DTEND;TZID=Europe/Paris:20240612T163000
DESCRIPTION:Tickets: https://pretix.ow2.org/ow2con-2024/\nOrganizer: OW2
DTSTAMP:20240531T133906Z
LOCATION:44 Avenue de la République\, 92320 Châtillon\, France
SUMMARY:OW2con'24
END:VEVENT
END:VCALENDAR