BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Sabre//Sabre VObject 4.2.2//EN
CALSCALE:GREGORIAN
METHOD:REQUEST
BEGIN:VTIMEZONE
TZID:Asia/Ho_Chi_Minh
BEGIN:STANDARD
TZOFFSETFROM:+0700
TZOFFSETTO:+0700
TZNAME:ICT
DTSTART:19700101T000000
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
UID:037aaad3-17c9-47c8-bd6b-f2cbfe925ef7
TRANSP:OPAQUE
DTSTART;TZID=Asia/Ho_Chi_Minh:20230309T140000
CLASS:CONFIDENTIAL
X-OPENPAAS-VIDEOCONFERENCE:
SUMMARY:MOB: integration tests
ORGANIZER;CN={{sender.name}}:MAILTO:{{sender.email}}
DTSTAMP:20230306T074133Z
SEQUENCE:0
END:VEVENT
END:VCALENDAR
