version: "3"


services:
  tmail-frontend:
    image: linagora/tmail-web:master
    container_name: tmail-frontend
    ports:
      - "8080:80"
    volumes:
      - ./tmail/.env:/usr/share/nginx/html/assets/env.file
      - ./tmail/app_dashboard.json:/usr/share/nginx/html/assets/configurations/app_dashboard.json
      - ./tmail/icon/lemonldap-ng-logo.png:/usr/share/nginx/html/assets/configurations/icons/lemonldap-ng-logo.png
    depends_on:
      - tmail-backend
    networks:
      - tmail

  tmail-backend:
    image: linagora/tmail-backend:memory-branch-master
    container_name: tmail-backend
    ports:
      - "8000:8000"
      - "8001:80"
    environment:
      - DOMAIN=tmail.com
    volumes:
      - ./tmail/jwt_publickey:/root/conf/jwt_publickey
      - ./tmail/jwt_privatekey:/root/conf/jwt_privatekey
      - ./tmail/jmap.properties:/root/conf/jmap.properties
      - ./tmail/usersrepository.xml:/root/conf/usersrepository.xml
    networks:
      - tmail

  sso.example.com:
    image: yadd/lemonldap-ng-full
    container_name: sso.example.com
    ports:
      - "80:80"
    volumes:
      - "./lemonldap/lmConf-1.json:/var/lib/lemonldap-ng/conf/lmConf-1.json"
    environment:
      - SSODOMAIN=example.com
      - PORTAL=http://sso.example.com
      - LOGLEVEL=debug
      - LOGGER=stderr
      - USERLOGGER=stderr
    depends_on:
      ldap:
        condition: service_started
    networks:
      - tmail

  ldap:
    container_name: ldap
    image: bitnami/openldap
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - "./ldap/populate.ldif:/ldifs/populate.ldif"
    environment:
      - LDAP_PORT_NUMBER=389
      - LDAP_ADMIN_USERNAME=admin
      - LDAP_ADMIN_PASSWORD=admin
      - LDAP_ROOT=dc=tmail,dc=com
      - BITNAMI_DEBUG=true
    networks:
      - tmail

  apisix:
    container_name: apisix.example.com
    image: linagora/apisix:3.2.0-debian-javaplugin
    volumes:
      - ./apisix/conf/apisix.yaml:/usr/local/apisix/conf/apisix.yaml
      - ./apisix/conf/config.yaml:/usr/local/apisix/conf/config.yaml
    networks:
      - tmail
    ports:
      - "9080:9080/tcp"
      - "8081:8081"

  redis:
    container_name: redis.example.com
    image: bitnami/redis:7.0.4-debian-11-r25
    environment:
      - REDIS_PASSWORD=secret1
    networks:
      - tmail
    ports:
      - "6379:6379"

networks:
  tmail:
