version: '3.8'

networks:
  emaily:
    driver: bridge

services:
  tmail-backend:
    depends_on:
      cassandra:
        condition: service_healthy
      opensearch:
        condition: service_started
      tika:
        condition: service_started
      rabbitmq:
        condition: service_started
      redis:
        condition: service_started
      s3:
        condition: service_started
    image: linagora/tmail-backend-distributed
    container_name: tmail-backend
    hostname: tmail-backend.local
    ports:
      - "80:80"
      - "25:25"
      - "110:110"
      - "143:143"
      - "465:465"
      - "587:587"
      - "993:993"
      - "8000:8000"
    networks:
      - emaily
    volumes:
      - ${RSA_PUBLICKEY_PATH}:/root/conf/jwt_publickey # Replace with absolute path to your RSA public key
      - ${RSA_PRIVATEKEY_PATH}:/root/conf/jwt_privatekey # Replace with absolute path to your RSA private key
      - ./docker-configuration/redis.properties:/root/conf/redis.properties # Replace with absolute path to your RSA private key
      # Key generation:
      # openssl genrsa -out jwt_privatekey 4096
      # openssl rsa -in jwt_privatekey -pubout > jwt_publickey
    restart: on-failure
    healthcheck:
      test: [ "CMD-SHELL", "curl -f -s -o /dev/null 'http://localhost:8000/healthcheck?check=IMAPHealthCheck&check=Cassandra%20backend&strict'" ]
      interval: 60s
      timeout: 30s
      retries: 2
      start_period: 60s # require upper Docker v25

  monitor-tmail-backend:
    image: docker:27-cli
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./monitor_health.sh:/monitor_health.sh
    depends_on:
      tmail-backend:
        condition: service_healthy
    entrypoint: [ "sh", "/monitor_health.sh", "tmail-backend"]

  opensearch:
    image: opensearchproject/opensearch:2.19.2
    environment:
      - discovery.type=single-node
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - DISABLE_SECURITY_PLUGIN=true
    networks:
      - emaily

  cassandra:
    image: cassandra:4.1.3
    ports:
      - "9042:9042"
    healthcheck:
      test: [ "CMD", "cqlsh", "-e", "describe keyspaces" ]
      interval: 3s
      timeout: 20s
      retries: 5
    environment:
      - JVM_OPTS=-Dcassandra.skip_wait_for_gossip_to_settle=0 -Dcassandra.initial_token=1
    networks:
      - emaily

  tika:
    image: apache/tika:3.2.0.0
    networks:
      - emaily

  rabbitmq:
    image: rabbitmq:3.12.1-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - emaily

  s3:
    image: registry.scality.com/cloudserver/cloudserver:8.7.25
    container_name: s3.docker.test
    environment:
      - SCALITY_ACCESS_KEY_ID=accessKey1
      - SCALITY_SECRET_ACCESS_KEY=secretKey1
      - S3BACKEND=mem
      - LOG_LEVEL=trace
      - REMOTE_MANAGEMENT_DISABLE=1
    networks:
      - emaily

  redis:
    image: redis:7.0.12
    networks:
      - emaily

